* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins
}

body {
    background: #7bdaf3;
    width: 90%;
    margin: auto;
}

.add__button {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    
}

.notes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    
}

.add__button {
    top: -10px;
    position: fixed;
    right: 20px;
}
button {
    
    background: #9ec862;
    color: white;
    padding: 10px 15px ;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background: #82a550;
}

.note {
    background: white;
    margin-top: 50px;
    width: 300px;
    min-height: 500px;
}
.content {
    padding: 10px;
    text-align: start;
}

.content p {
    width: 280px;
}
.buttons {
    background: #9ec862;
    display: flex;
    justify-content: end;
}
.edit {
    border-radius: 0px;
    box-shadow: none
}
.delete {
    border-radius: 0px;
    box-shadow: none
}

textarea { 
    line-break: auto;
    width: 280px;
}